/* This is a function for icons position*/
.gcui-borderpicker .line-style-out-div {
  width: 123px;
  height: 114px;
  padding: 1px;
  border: 1px solid;
}
.gcui-borderpicker .line-style-backcolor-div {
  position: relative;
  display: block;
  width: 120px;
  height: 112px;
  background-color: black;
}
.gcui-borderpicker .line-style {
  position: absolute;
  display: block;
  width: 60px;
  height: 16px;
  background-image: url(../../images/borderpicker.png);
  border: 1px solid white;
}
.gcui-borderpicker .line-style-hair {
  background-position: 0px 0px;
  left: 0px;
  top: 16px;
}
.gcui-borderpicker .line-style-dotted {
  background-position: 0px -16px;
  left: 0px;
  top: 32px;
}
.gcui-borderpicker .line-style-dash-dot-dot {
  background-position: 0px -32px;
  left: 0px;
  top: 48px;
}
.gcui-borderpicker .line-style-dash-dot {
  background-position: 0px -48px;
  left: 0px;
  top: 64px;
}
.gcui-borderpicker .line-style-dashed {
  background-position: 0px -64px;
  left: 0px;
  top: 80px;
}
.gcui-borderpicker .line-style-thin {
  background-position: 0px -80px;
  left: 0px;
  top: 96px;
}
.gcui-borderpicker .line-style-empty {
  left: 0px;
  top: 0px;
  background-color: white;
  text-align: center;
  cursor: default;
}
.gcui-borderpicker .line-style-medium-dash-dot-dot {
  background-position: 0px -96px;
  left: 60px;
  top: 0px;
}
.gcui-borderpicker .line-style-slanted-dash-dot {
  background-position: 0px -112px;
  left: 60px;
  top: 16px;
}
.gcui-borderpicker .line-style-medium-dash-dot {
  background-position: 0px -128px;
  left: 60px;
  top: 32px;
}
.gcui-borderpicker .line-style-medium-dashed {
  background-position: 0px -144px;
  left: 60px;
  top: 48px;
}
.gcui-borderpicker .line-style-medium {
  background-position: 0px -160px;
  left: 60px;
  top: 64px;
}
.gcui-borderpicker .line-style-thick {
  background-position: 0px -176px;
  left: 60px;
  top: 80px;
}
.gcui-borderpicker .line-style-double {
  background-position: 0px -192px;
  left: 60px;
  top: 96px;
}
.gcui-borderpicker .gcui-borderpicker-line-color-label {
  position: relative;
  top: 5px;
}
.gcui-borderpicker .gcui-borderpicker-color {
  width: 120px;
  position: relative;
  top: 5px;
}
.gcui-borderpicker .gcui-borderpicker-color-preview {
  display: block;
  border: 1px solid black;
  width: 100%;
  height: 1em;
}
.gcui-borderpicker .line-style-selected {
  border-color: black;
  position: absolute;
  z-index: 3;
}
.gcui-borderpicker-color-popup {
  background-color: white;
}
