/* This is a function for icons position*/
.gcui-fontpicker .gcui-fontpicker-group {
  float: left;
  padding: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gcui-fontpicker .gcui-fontpicker-picker-group input,
.gcui-fontpicker .gcui-fontpicker-picker-group select {
  display: block;
  width: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gcui-fontpicker .gcui-fontpicker-group-label {
  display: block;
  margin: 0.3em 0;
}
.gcui-fontpicker .gcui-fontpicker-group-family {
  width: 50%;
}
.gcui-fontpicker .gcui-fontpicker-group-style,
.gcui-fontpicker .gcui-fontpicker-group-size {
  width: 25%;
}
.gcui-fontpicker .gcui-fontpicker-group-weight {
  width: 50%;
}
.gcui-fontpicker .gcui-fontpicker-group-others {
  width: 50%;
}
.gcui-fontpicker .gcui-fontpicker-color {
  float: left;
  width: 55%;
  margin-right: 2px;
}
.gcui-fontpicker .gcui-fontpicker-color-preview {
  display: block;
  border: 1px solid black;
  width: 100%;
  height: 1em;
}
.gcui-fontpicker .gcui-fontpicker-effects-container {
  height: 40px;
}
.gcui-fontpicker .gcui-fontpicker-preview-container {
  height: 51px;
  line-height: 51px;
  width: 200px;
  overflow: hidden;
  text-align: center;
}
.gcui-fontpicker .gcui-fontpicker-preview {
  text-align: center;
}
.gcui-fontpicker .effects-strikethrough {
  margin-left: 15px;
}
.gcui-fontpicker-color-popup {
  background-color: white;
}
