/**
 * App
 * @author im <81195314@qq.com>
 * @date 2020-05-10 17:41:20
 * @since 0.1.0
 */
#app
    font-family Avenir, Helvetica, Arial, sans-serif
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    text-align center
    color #2c3e50
    width 100%
    height 100%
    background-image: linear-gradient(to bottom,#f4f4f4,#f6f6f6);