/**
* Sidebar
* @author im <81195314@qq.com>
* @date 2020-05-10 20:57:39
* @since 0.1.0
*/

@import '~base/base'

.sidebar
    width: 226px;
    border-right: 1px solid #e5e5e5;
    height 100%
    padding 24px 30px

    li
        &.active
            a
                color: #555;
                font-weight: 500;
                .icon
                    color: #555;
        a
            display flex
            align-items: center
            color: #7a7d81;
            font-size: 14px
            font-size: 13px;
            height: 27px;
            margin-bottom: 8px
            .iconfont
                margin: 0 10px 0 3px;
            &:hover
                color: #555;
                font-weight: 500;
                .iconfont
                    color: #555;