/* This is a function for icons position*/
.formulaBar {
  background-color: white;
  padding: 0px;
  height: auto;
  /*(@formula-bar-height - 4); */
  display: -webkit-box;
  display: -moz-box;
  overflow: hidden;
  margin-top: 3px;
}
.formulaBar > table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 2px;
}
.formulaBar tbody {
  vertical-align: top;
}
.formulaBar td:last-child {
  width: 100%;
  padding-right: 4px;
}
.formulaBar .union-container {
  width: 204px;
  margin: 1px 0;
}
.formulaBar .union-container .union-item {
  display: inline-block;
  width: 200px;
  margin-left: -200px;
}
.formulaBar .union-container .union-item:first-child {
  margin-left: 0;
}
.formulaBar .union-container .union-item {
  height: 21px;
  font-family: "Segoe UI";
  text-align: center;
  margin-top: -1px;
  width: 200px;
  border-color: 1px solid #c6c6c6;
}
.formulaBar .splitter {
  width: 32px;
  background-image: url(../images/splitter.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 1px 0;
  display: block;
  cursor: w-resize;
}
.formulaBar button {
  width: 20px;
  height: 20px;
  border: none;
  padding: 4px;
  background-color: transparent;
  background-image: none;
}
.formulaBar .fill-content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  /*width: 955px;*/
}
.formulaBar #formulaBarText {
  height: 20px;
  width: 100%;
  background-color: white;
  overflow: hidden;
}
.formulaBar .formulaBar-container {
  border: 1px solid #c6c6c6;
  background: white;
  padding-left: 3px;
  padding-top: 2px;
}
.formulaBar input {
  border: 1px solid #c6c6c6;
  background-color: white;
  margin: 0;
  padding: 0;
}
.formulaBar .formula-bar-item {
  height: 20px;
}
.formulaBar .btn-group {
  background-color: white;
  border: 1px solid #c6c6c6;
  margin-right: 4px;
  width: 60px;
  padding-left: 2px;
  padding-top: 2px;
}
.formulaBar .ok-btn {
  background-image: url(../images/icons.png);
  background-position: 0px -1584px;
  height: 16px;
  width: 16px;
  vertical-align: top;
}
.formulaBar .cancel-btn {
  background-image: url(../images/icons.png);
  background-position: 0px -864px;
  height: 16px;
  width: 16px;
  vertical-align: top;
}
.formulaBar .functions-btn {
  background-image: url(../images/icons.png);
  background-position: 0px -1600px;
  height: 16px;
  width: 16px;
  vertical-align: top;
}
