/* This is a function for icons position*/
.header {
  height: 175px;
  padding-top: 6px;
}
.ribbon {
  height: 141px;
}
.ribbonHidenLast {
    height: 35px;
}
.ribbon .gcui-ribbon .gcui-ribbon-bigbutton .ui-button-text,
.ribbon .gcui-ribbon .ui-button .ui-button-text,
.ribbon .ui-tabs .ui-tabs-nav li a,
.ribbon #condition-format-popup .ui-button-text-big,
.ribbon #condition-format-popup .ui-button-text-small,
.ribbon #condition-format-popup .submenu-title {
  font-size: 12px;
}
.ribbon .gcui-ribbon .gcui-ribbon-groups .gcui-ribbon-group {
  height: 102px;
}
.ribbon .gcui-ribbon .gcui-ribbon-group .gcui-ribbon-group-content {
  height: 85px;
}
.ribbon .gcui-ribbon .gcui-ribbon-group .gcui-ribbon-bigbutton {
  height: 85px;
  margin-top: -18px;
}
.ribbon .gcui-ribbon .gcui-ribbon-group .gcui-ribbon-bigbutton .ui-button-text {
  padding-top: 4em;
}
.ribbon .gcui-ribbon-abbrev剪贴板 {
  background-position: 0px -768px;
}
.ribbon .gcui-ribbon-abbrev字体 {
  background-position: 0px -400px;
}
.ribbon .gcui-ribbon-abbrev对齐方式 {
  background-position: 0px -48px;
}
.ribbon .gcui-ribbon-abbrev数字 {
  background-position: 0px -2064px;
}
.ribbon .gcui-ribbon-abbrev单元格类别 {
  background-position: 0px -3728px;
}
.ribbon .gcui-ribbon-abbrev样式 {
  background-position: 0px -1232px;
}
.ribbon .gcui-ribbon-abbrev单元格 {
  background-position: 0px -1216px;
}
.ribbon .gcui-ribbon-abbrev编辑 {
  background-position: 0px -1024px;
}
.ribbon .gcui-ribbon-abbrev表 {
  background-position: 0px -1648px;
}
.ribbon .gcui-ribbon-abbrev插图 {
  background-position: 0px -2912px;
}
.ribbon .gcui-ribbon-abbrev函数库 {
  background-position: 0px -1600px;
}
.ribbon .gcui-ribbon-abbrev定义的名称 {
  background-position: 0px -1872px;
}
.ribbon .gcui-ribbon-abbrev排序和筛选 {
  background-position: 0px -2752px;
}
.ribbon .gcui-ribbon-abbrev数据工具 {
  background-position: 0px -784px;
}
.ribbon .gcui-ribbon-abbrev分级显示 {
  background-position: 0px -1456px;
}
.ribbon .gcui-ribbon-abbrev设计模式 {
  background-position: 0px -960px;
}
.ribbon .gcui-ribbon-abbrev显示\/隐藏 {
  background-position: 0px -3600px;
}
.ribbon .gcui-ribbon-abbrev显示比例 {
  background-position: 0px -3584px;
}
.ribbon .gcui-ribbon-abbrev窗口 {
  background-position: 0px -1264px;
}
.ribbon .gcui-ribbon-abbrev迷你图 {
  background-position: 0px -2880px;
}
.ribbon #condition-format-popup .gcui-ribbon-listseparator.condition-format {
  width: 160px;
}
.ribbon #condition-format-popup .gcui-ribbon-listseparator.highlight-cells-rules {
  width: 103px;
}
.ribbon #condition-format-popup .gcui-ribbon-listseparator.top-bottom-rules {
  width: 141px;
}
.ribbon #condition-format-popup .gcui-ribbon-listseparator.data-bars {
  width: 132px;
}
.ribbon #condition-format-popup .gcui-ribbon-listseparator.icon-sets {
  width: 220px;
}
.ribbon #condition-format-popup #clear-rules-popup-menu {
  width: 148px;
}
.ui-tabs .ui-tabs-nav li a {
  color: #333;
}
.ui-tabs .ui-tabs-nav li a:hover {
  color: #333;
}
.content > .fill-spread-content {
  top: 195px;
}
.ui-dialog-buttonpane .ui-button {
  width: 95px;
}
.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button,
html,
body {
  font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", "宋体", SimSun, STXihei, "华文细黑", sans-serif;
}
/* set font for other items same as above setting of body */
.colorpicker-outDiv,
.statusBar .statusbar-edit-status,
.statusBar .statusbar-zoom-value,
.colordialog-div-container,
.ui-dialog-titlebar,
.ui-dialog-buttonpane,
.format-rules-manager-dialog .format-rules-view-container .format-rules-button-set span,
.ribbon #condition-format-popup .submenu-title,
.ribbon .designer-cell-styles .submenu-title,
.ribbon #condition-format-popup .submenu-title,
.ribbon .designer-table-format .table-format-label-container,
.ribbon .designer-cell-styles .submenu-title,
.ribbon .designer-cell-styles .cell-style-outer-span,
.ribbon .designer-slicer-format .slicer-format-label-container,
.ui-widget,
.ui-widget textarea,
.ui-dialog .ui-dialog-title,
.sort-dialog .sort-button-sets span .formulaBar .union-container .union-item {
  font-family: inherit;
}
/* set height for dropdown items */
.gcui-ribbon-fontfamily-parent,
.gcui-ribbon-fontsize-parent,
.gcui-ribbon-numberformat {
  height: 26px;
}
/* adjust width for items need more space */
#groupDetailAppearance {
  width: 102px;
}
#schemaActionList {
  width: 104px;
}
#font-size, #font-family {
  margin: 0;
}

#export-json, #import-json {
  width: 85px;
  height: 85px;
  padding: 8px 14px 14px 8px;
}

.format-shape-panel-background .填充线条 {
  background-position: -16px -96px
}
.format-shape-panel-background .selected-填充线条 {
  background-position: -16px -224px;
}
/*.format-shape-panel-background .line {*/
/*background-position: -16px -96px*/
/*}*/
/*.format-shape-panel-background .selected-line {*/
/*background-position: -16px -96px*/
/*}*/
.format-shape-panel-background .大小 {
  background-position: -16px -160px;
}
.format-shape-panel-background .selected-大小 {
  background-position: -16px -288px;
}
.format-shape-panel-background .文本填充 {
  background-position: -16px -192px;
}
.format-shape-panel-background .selected-文本填充 {
  background-position: -16px -320px;
}
.format-shape-panel-background .文本框 {
  background-image: url(../images/sliderpanelTextNormal.png);
}
.format-shape-panel-background .selected-文本框 {
  background-image: url(../images/sliderpanelTextActive.png);
}