/* This is a function for icons position*/
.spreadWrapper {
  height: 100%;
}
.spreadWrapper .ss {
  height: 100%;
}
.spreadWrapper .slider-panel {
  display: none;
  float: right;
  height: 100%;
}
.spreadWrapper .slider-panel-handler {
  display: none;
  float: right;
  height: 100%;
  border: 2px solid rgba(211, 211, 211, 0.6);
}
.spreadWrapper .slider-panel-handler:hover {
  cursor: w-resize;
}
.spreadWrapper .slider-panel-guidesline {
  border-left: 1px dashed rgba(211, 211, 211, 0.8);
  display: none;
  height: 100%;
}
