/* This is a function for icons position*/
.fileMenu {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 1000;
}

.fileMenu .menu-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background-color: #217346;
}

.fileMenu .menu-panel ul {
    list-style: none;
    padding: 0;
}

.fileMenu .menu-panel ul li div.goback-image {
    margin: 10px 25px;
    width: 32px;
    height: 32px;
    background-image: url(../images/icons.png);
    background-position: -16px -3840px;
}

.fileMenu .menu-panel ul li a {
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    display: block;
}

.fileMenu .menu-panel ul li div.gcui-ribbon-listseparator {
    height: 1px;
    border-top: 1px solid lightgray;
    margin: 0px 0px 0px 12px;
}

.fileMenu .menu-panel ul li:not(.nohover-effect):hover {
    background-color: #0a6332;
}

.fileMenu .content-panel {
    height: 100%;
    margin-left: 15%;
    background-color: white;
}

.fileMenu .content-panel ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.fileMenu .content-panel ul li a {
    padding: 15px 25px;
    color: black;
    text-decoration: none;
    display: block;
}

.fileMenu .content-panel ul li ul {
    padding-left: 2em;
}

.fileMenu .content-panel ul li:not(.nohover-effect):hover {
    background-color: #d3f0e0;
}

.fileMenu .content-panel .menu-title {
    height: 10%;
    width: 100%;
    font-size: xx-large;
    position: relative;
}

.fileMenu .content-panel .menu-title span {
    margin-left: 5%;
    position: absolute;
    bottom: 0px;
}

.fileMenu .content-panel .content-view {
    height: 86%;
    width: 90%;
    padding: 2% 5%;
}

.fileMenu .content-panel .content-view .content-item {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.fileMenu .content-panel .content-view .content-item .template-item {
    padding: 5px;
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 5px;
    margin-bottom: 10px;
}

.fileMenu .content-panel .content-view .content-item .template-item .template-item-thumb {
    width: 200px;
    height: 160px;
    background-image: url(../images/templates.png);
}

.fileMenu .content-panel .content-view .content-item .template-item .template-thumb-blank {
    background-position: 0px -320px;
}

.fileMenu .content-panel .content-view .content-item .template-item .template-thumb-aging-report {
    background-position: 0px 0px;
}

.fileMenu .content-panel .content-view .content-item .template-item .template-thumb-financial-kpis {
    background-position: 0px -160px;
}

.fileMenu .content-panel .content-view .content-item .template-item .template-thumb-income-statement {
    background-position: 0px -480px;
}

.fileMenu .content-panel .content-view .content-item .template-item:hover {
    background-color: #d3f0e0;
}

.fileMenu .content-panel .content-view .left-view {
    float: left;
    width: 30%;
    height: 100%;
    border-right: 1px #e1e1e1 solid;
}

.fileMenu .content-panel .content-view .right-view {
    height: 100%;
    margin-left: 30%;
    padding-left: 5%;
    overflow: auto;
}

.fileMenu .content-panel .content-view .right-view .submenu-title {
    margin-bottom: 16px;
    font-size: x-large;
    color: #217346;
}

.fileMenu .content-panel .content-view .right-view .pdf-export-setting {
    padding: 10px;
    padding-left: 0px;
    border: none;
    border-top: 1px solid #D3D3D3;
}

.fileMenu .content-panel .content-view .right-view .pdf-export-setting .basic-element-container {
    width: 300px;
    height: 24px;
    margin-left: 20px;
}

.fileMenu .content-panel .content-view .right-view .pdf-export-setting .pdf-basic-setting-label {
    width: 120px;
    display: inline-block;
}

.fileMenu .content-panel .content-view .right-view .pdf-export-setting .export-setting-container {
    margin-left: 20px;
    height: 24px;
}

.fileMenu .content-panel .content-view .right-view .pdf-export-setting .export-setting-input {
    width: 150px;
}

.fileMenu .content-panel .content-view .right-view .pdf-export-setting .inline-setting-container {
    width: 190px;
    display: inline-block;
    margin-left: 20px;
}

.fileMenu .content-panel .content-view .right-view .pdf-export-setting .inline-setting-container .check-box {
    margin: 0;
}

.fileMenu .content-panel .content-view .right-view .pdf-export-setting .display-setting-container {
    width: 190px;
    display: inline-block;
    margin-left: 20px;
}

.fileMenu .content-panel .content-view .right-view .pdf-export-setting .display-type-container {
    width: 280px;
    height: 24px;
    display: inline-block;
    margin-left: 20px;
}

.fileMenu .content-panel .content-view .right-view .pdf-export-setting .page-setting-container {
    width: 290px;
    display: inline-block;
    margin-left: 20px;
    height: 24px;
}

.fileMenu .content-panel .content-view .right-view .pdf-export-setting .page-settings-label {
    display: inline-block;
    width: 130px;
}

.fileMenu .content-panel .content-view .right-view .pdf-export-setting .page-settings {
    width: 150px;
}

.fileMenu .content-panel .content-view .right-view .pdf-export-setting .display-setting-select {
    width: 150px;
}

.fileMenu .content-panel .content-view .file-label {
    cursor: default;
    margin-left: 10px;
    display: inline-block;
}

.fileMenu .content-panel .content-view .file-label .file-name {
    font-size: small;
}

.fileMenu .content-panel .content-view .file-label .file-path {
    font-size: small;
    margin-top: 3px;
}

.fileMenu .content-panel .content-view .list-item {
    padding: 5px 10px;
}

.fileMenu .content-panel .content-view .list-item .list-item-big-icon {
    background-image: url(../images/icons.png);
    width: 32px;
    height: 32px;
    display: inline-block;
}

.fileMenu .content-panel .content-view .list-item .directory-icon {
    margin: 5px 0 0 10px;
    float: left;
    background-image: url(../images/icons.png);
    width: 16px;
    height: 16px;
    background-position: 0px -1984px;
}

.fileMenu .content-panel .content-view .sub-title {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: medium;
}

.fileMenu .content-panel .content-view .iconbutton {
    border: 1px solid #ababab;
    width: 91px;
    height: 91px;
    padding: 8px;
    margin: 30px 20px 20px 0;
}

.fileMenu .content-panel .content-view .iconbutton .iconbutton-big-image {
    background-image: url(../images/icons.png);
    width: 32px;
    height: 32px;
    margin: 10px auto 10px auto;
}

.fileMenu .content-panel .content-view .iconbutton span {
    display: block;
    text-align: center;
    font-size: small;
}

.fileMenu .content-panel .content-view .iconbutton:hover {
    background-color: #d3f0e0;
}

.fileMenu .content-panel .content-view .horizontal {
    float: left;
}

.fileMenu .menu-item-selected {
    background-color: #9fd5b7;
}


.fileMenu .xlsx-icon {
    background-position: -16px -832px;
}

.fileMenu .csv-icon {
    background-position: -16px -416px;
}

.fileMenu .ssjson-icon {
    background-position: -16px -3872px;
}

.fileMenu .pdf-icon {
    background-position: -16px -2336px;
}

.fileMenu .browse-button-icon {
    background-position: -16px -960px;
}
.exportjson-select-wrapper {
    margin-top: 20px;
}
.exportjson-select-wrapper select{
    width: 150px;
}
