/**
* Topbar
* @author im <81195314@qq.com>
* @date 2020-05-10 20:37:11
* @since 0.1.0
*/

@import '~base/base'

.topbar
    height: 50px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 2px 3px 0 rgba(100,100,100,0.06);
    line-height: 50px
    padding 0 25px
    display: flex
    justify-content: space-between
    align-items: center
    .logo
        font-size: 18px
    .operator
        display flex
        align-items center
    .avatar
        margin-left 10px