/* This is a function for icons position*/
.fill-dialog .groupbox {
    border: 1px solid lightgray;
    float: left;
    width: 100px;
    height: 110px;
    margin: 3px;
}

.fill-dialog .series-trend {
    clear: both;
}

.fill-dialog .series-input {
    width: 68px;
}

.fill-dialog .block-box {
    margin-top: 5px;
    margin-bottom: 5px;
}

.fill-dialog .groupbox-label {
    position: relative;
    top: -8px;
    margin-left: 3px;
    background-color: #f0f0f0;
}

.sort-dialog .sort-panel {
    border: solid 1px lightgray;
    margin: 3px;
    padding: 5px;
}

.sort-dialog .sort-icon {
    background-image: url(../images/icons.png);
    display: inline-block;
    height: 16px;
    width: 16px;
}

.sort-dialog .sort-add-level {
    background-position: 0px -2800px;
}

.sort-dialog .sort-delete-level {
    background-position: 0px -864px;
}

.sort-dialog .sort-copy-level {
    background-position: 0px -752px;
}

.sort-dialog .sort-move-up {
    background-position: 0px -4096px;
}

.sort-dialog .sort-move-down {
    background-position: 0px -4080px;
}

.sort-dialog .sort-options {
    width: 0px;
}
.ui-state-default-special{
    border-top: none !important
}
.sort-dialog .sort-header {
    width: 190px;
    border-bottom: solid 1px lightgray;
    border-right: solid 1px lightgray;
    display: block;
    margin: 0px;
    padding: 3px;
    text-align: center;
    float: left;
}

.sort-dialog .sort-column {
    width: 180px;
    float: left;
    display: block;
    margin: 5px;
}

.sort-dialog .sort-row-header {
    margin: 5px;
    padding: 3px;
    text-align: left;
    width: 60px;
    float: left;
    display: block;
}

.sort-dialog .sort-row-sortby {
    width: 120px;
    float: left;
    display: block;
    margin: 5px;
}

.sort-dialog .sort-infolist {
    height: 150px;
    overflow-y: scroll;
}

.sort-dialog .sort-move-button {
    padding: 0;
    width: 32px;
}

.sort-dialog .sort-button-sets span {
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Verdana, sans-serif;
    font-size: 12px;
    vertical-align: top;
}

.sort-dialog .sort-button-sets button {
    height: 30px;
}

.spread-setting-dialog {
    width: 680px;
    height: 285px;
}

.spread-setting-dialog .column-half {
    float: left;
    width: 50%;
}

.spread-setting-dialog .horizontalseparator {
    direction: ltr;
    height: 1px;
    background: #d3d3d3;
    display: inline-block;
    margin-bottom: 5px;
    width: 626px;
}

.spread-setting-dialog .setting-block {
    margin-top: 7px;
    margin-bottom: 7px;
}

.spread-setting-dialog .spread-setting-tab {
    height: 90%;
}

.spread-setting-dialog .setting-tab-ratio {
    width: 50px;
}

.spread-setting-dialog .setting-scrollPixel {
    width: 50px;
}
.spread-setting-dialog .setting-resize-mode {
    width: 75px;
}
.spread-setting-dialog .setting-tab-ratio-label {
    vertical-align: middle;
}
.spread-setting-dialog .custom-list-list-block .setting-block{
    padding-right: 12px;
}
.spread-setting-dialog .custom-list-list-block {
    float:left;
    width:40%;
}
.spread-setting-dialog #fill-custom-lists {
    width: 100%;
}
.spread-setting-dialog #fill-custom-lists option {
    height: 16px;
}
.spread-setting-dialog #fill-custom-list-view {
    height: 170px;
    width: 100%;
    padding: 0px;
    resize: none;
}
.spread-setting-dialog .custom-list-button {
    margin-top: 12px;
    width: 100%;
    padding: 2px;
}
.spread-setting-dialog .custom-list-button-block {
    float:left;
    width:20%;
    padding-top: 12px;
}

.sheet-setting-dialog {
    width: 550px;
    height: 300px;
}

.sheet-setting-dialog .sheet-setting-tab {
    height: 95%;
    width: 95%;
}

.sheet-setting-dialog .general-count {
    float: left;
    width: 60%;
}

.sheet-setting-dialog .general-count-label {
    width: 200px;
    display: inline-block;
}

.sheet-setting-dialog .general-count-value {
    width: 40px;
}

.sheet-setting-dialog .general-selection {
    float: left;
    width: 40%;
}

.sheet-setting-dialog .general-selection fieldset {
    border: 1px solid #d3d3d3;
}

.sheet-setting-dialog .gridline-column {
    float: left;
    width: 50%;
}

.sheet-setting-dialog .setting-block {
    margin-top: 7px;
    margin-bottom: 7px;
}

.sheet-setting-dialog .header-count-label {
    width: 45%;
    display: inline-block;
}

.sheet-setting-dialog .header-count-value {
    width: 15%;
    display: inline-block;
}

.sheet-setting-dialog .header-count-autotext {
    display: inline-block;
    width: 50%;
}

.sheet-setting-dialog .header-setting-tab {
    height: 95%;
}

.sheet-setting-dialog .color-frame {
    display: inline-block;
    width: 105px;
    margin-left: 10px;
    height: 18px;
}

.sheet-setting-dialog .float-left {
    float: left;
}

.sheet-setting-dialog .color-span {
    display: block;
    height: 11px;
    width: 70px;
    border: 1px solid lightgray;
}

.data-validation-dialog .data-validation-tab {
    width: 460px;
    height: 320px;
}

.data-validation-dialog .validation-criteria-type {
    width: 200px;
}

.data-validation-dialog .validation-comparison-operator {
    width: 200px;
}

.data-validation-dialog .validation-fieldset {
    border: none;
    border-top: solid 1px gray;
    padding-left: 0px;
    margin-left: -10px;
}

.data-validation-dialog .validation-content {
    margin-left: 10px;
}

.data-validation-dialog .validation-value1,
.data-validation-dialog .validation-value2 {
    width: 300px;
    border: none;
    padding-left: 2px;
}

.data-validation-dialog .show-input-message {
    margin-left: -10px;
}

.data-validation-dialog .input-title {
    width: 100%;
}

.data-validation-dialog .input-message {
    width: 100%;
    height: 100px;
    resize: none;
}

.data-validation-dialog .show-error-message {
    margin-left: -10px;
}

.data-validation-dialog .error-title {
    width: 90%;
}

.data-validation-dialog .error-message {
    width: 90%;
    height: 100px;
    resize: none;
}

.data-validation-dialog .error-style {
    width: 90%;
}

.data-validation-dialog .error-column {
    width: 50%;
}

.data-validation-dialog .error-icon {
    width: 32px;
    height: 32px;
    margin-left: 65px;
    margin-top: 55px;
    background-image: url(../images/icons.png);
}

.data-validation-dialog .error-icon-stop {
    background-position: -16px -768px;
}

.data-validation-dialog .error-icon-warning {
    background-position: -16px -800px;
}

.data-validation-dialog .error-icon-info {
    background-position: -16px -736px;
}

.inline-block {
    display: inline-block;
}

.float-left {
    float: left;
}

.setting-block {
    margin-top: 7px;
    margin-bottom: 7px;
}

.group-direction-dialog {
    margin-left: 15px;
}

.group-direction-dialog .group-fieldset {
    border: none;
    border-top: solid 1px gray;
    padding-left: 0px;
    margin-left: -10px;
}

.zoom-dialog .zoom-ratio-setting-fieldset {
    border: none;
    border-top: 1px solid #d3d3d3;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 0px;
}

.zoom-dialog .show-zoom-text {
    width: 50px;
}

.sparkline-weight-dialog {
    margin-left: 10px;
}

.insert-sparkline-dialog .sparkline-lable {
    width: 35%;
    display: inline-block;
}

.insert-sparkline-dialog .sparkline-data-range, .insert-sparkline-dialog .sparkline-location-range {
    width: 125px;
    border: none;
    padding-left: 2px;
    height: 20px;
}

.insert-sparkline-dialog .element-disabled {
    opacity: 0.4;
}

.insert-sparkline-dialog .setting-block {
    border: 1px solid #aaaaaa;
}

.sparkline-marker-color-dialog .color-frame {
    display: inline-block;
    width: 105px;
    margin-left: 10px;
}

.sparkline-marker-color-dialog .color-span {
    display: block;
    height: 16px;
    width: 70px;
    border: 1px solid lightgray;
}

.sparkline-marker-color-dialog .sparkline-label {
    display: inline-block;
    width: 110px;
}

.format-table-dialog {
    height: 200px;
}

.format-table-dialog .table-style-input {
    width: 527px;
}

.format-table-dialog .table-element-block {
    width: 453px;
    float: left;
}

.format-table-dialog .table-element-fieldset {
    width: 425px;
    border-color: rgba(255, 255, 255, 0.2);
}

.format-table-dialog .table-element-select {
    width: 425px;
}

.format-table-dialog .table-preview-fieldset {
    width: 112px;
    height: 118px;
    padding: 0px;
    padding-left: 2px;
    border-color: rgba(255, 255, 255, 0.2);
}

.format-table-dialog .pre-spread {
    width: 110px;
    height: 105px;
}

.format-table-dialog .table-preview-block {
    width: 120px;
    height: 127px;
    margin-left: 455px;
}

.format-table-dialog .clear-table-element {
    width: 70px;
    height: 25px;
}

.format-table-dialog .format-table-element {
    width: 70px;
    height: 25px;
    margin-left: 125px;
}

.format-table-dialog .stripe-size-block {
    width: 120px;
    height: 50px;
    margin-left: 455px;
}

.format-table-dialog .stripe-size-fieldset {
    width: 112px;
    height: 46px;
    padding: 0px;
    padding-left: 2px;
    border-color: rgba(255, 255, 255, 0.2);
}

.format-table-dialog .stripe-size-select {
    margin-left: 35px;
    margin-top: 6px;
}

.cell-style-dialog .cell-style-name {
    width: 200px;
}

.cell-style-dialog .cell-style-format-setting {
    padding: 5px;
    margin: 18px 0px 3px 210px;
}

.pdf-printer-setting-dialog .printer-range-setting {
    padding: 5px 0px 5px 0px;
    border: none;
    border-top: 1px solid #D3D3D3;
}

.pdf-printer-setting-dialog .printer-range-setting .printer-range-label {
    margin-left: 20px;
}

.pdf-printer-setting-dialog .pdf-printer-setting {
    height: 24px;
    width: 300px;
}

.pdf-printer-setting-dialog .pdf-printer-setting .pdf-printer-input {
    width: 160px;
}

.pdf-printer-setting-dialog .pdf-printer-setting .printer-settings-label {
    display: inline-block;
    width: 125px;
}

.pdf-printer-setting-dialog .printer-range-setting-button {
    width: 80px;
}

.pdf-printer-setting-dialog .add-print-range {
    margin-left: 257px;
}

.pdf-printer-setting-dialog .printer-range-panel {
    border: 1px solid #D3D3D3;
    height: 200px;
    overflow-y: scroll;
}

.pdf-printer-setting-dialog .printer-range-panel .printer-range-table {
    border-collapse: collapse;
    border-spacing: 0;
}

.pdf-printer-setting-dialog .printer-range-panel .printer-range-table-header {
    width: 210px;
    border: 1px solid #D3D3D3;
}

.pdf-printer-setting-dialog .printer-range-setting .page-range-index {
    width: 140px;
}

.pdf-printer-setting-dialog .printer-range-setting .page-range-count {
    width: 140px;
}

.format-comment {
    width: 500px;
    height: 440px;
}

.format-comment .comment-separator-line {
    padding-left: 0;
    border: 0;
    border-top: 1px solid lightgray;
}

.format-comment .comment-tab-page {
    height: 350px;
}

.format-comment .alignment-container .comment-text-alignment {
    margin: 8px 0 0 20px;
}

.format-comment .alignment-container .alignment-select {
    width: 120px;
}

.format-comment .alignment-container .align-column {
    width: 90px;
    display: inline-block;
}

.format-comment .alignment-container #auto-size {
    margin: 0 0 20px 20px;
}

.format-comment .alignment-container .padding-box {
    width: 80px;
}

.format-comment .alignment-container .padding-column1 {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
}

.format-comment .alignment-container .padding-column2 {
    width: 50px;
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
}

.format-comment .alignment-container .padding-group {
    margin-left: 20px;
    margin-top: 8px;
}

.format-comment .alignment-container #automatic-padding {
    margin: 10px 0 0 20px;
}

.format-comment .size-container .size-div {
    margin: 8px 0 0 20px;
}

.format-comment .size-container .size-column {
    width: 55px;
    display: inline-block;
}

.format-comment .protection-container .protect-comment-div {
    margin-top: 8px;
}

.format-comment .colors-container .fill-color-picker {
    display: inline-block;
    width: 240px;
}

.format-comment .colors-container .line-color-picker {
    display: inline-block;
    width: 240px;
}

.format-comment .colors-container .colorpicker-popup {
    background-color: white;
}

.format-comment .colors-container .colorpicker-container {
    float: left;
    width: 55%;
    margin-right: 2px;
}

.format-comment .colors-container .colorpicker-preview {
    display: block;
    border: 1px solid black;
    width: 100%;
    height: 13px;
}

.format-comment .colors-container .lines-column {
    width: 60px;
    display: inline-block;
    margin: 12px 0 0 25px;
}

.format-comment .colors-container .color-label {
    width: 95px;
    display: inline-block;
    margin: 10px 0 0 25px;
}

.format-comment .colors-container .slider-label {
    width: 100px;
    display: inline-block;
    margin: 10px 0 0 25px;
}

.format-comment .colors-container .color-transparent-slider {
    display: inline-block;
    width: 125px;
    margin-right: 10px;
}

.format-comment .colors-container #colors-transparent-input {
    width: 60px;
}

.format-comment .colors-container .lines-width {
    width: 105px;
}

.format-comment .colors-container .lines-style-select {
    width: 132px;
}

.pie-sparkline-dialog .separator-line {
    padding-left: 0;
    border: 0;
    border-top: 1px solid lightgray;
}

.pie-sparkline-dialog .pie-color-picker {
    display: inline-block;
    width: 140px;
    vertical-align: sub;
}

.pie-sparkline-dialog .color-picker-container {
    float: left;
    width: 95%;
    margin-right: 2px;
}

.pie-sparkline-dialog .color-picker-preview {
    display: block;
    border: 1px solid black;
    width: 100%;
    height: 13px;
}

.pie-sparkline-dialog .color-picker-popup {
    background-color: white;
}

.pie-sparkline-dialog .add-pie-color, .pie-sparkline-dialog .remove-pie-color {
    display: inline-block;
    background: #E6E6EC;
    padding: 2px;
    border-radius: 10px;
}

.pie-sparkline-dialog .add-pie-color:hover {
    cursor: pointer;
    background: lightgreen;
}

.pie-sparkline-dialog .remove-pie-color:hover {
    background: red;
    -webkit-transform: rotate(-45deg);
    -webkit-transition-duration: 200ms;
    cursor: pointer;
}

.pie-sparkline-dialog .pie-color-column {
    width: 60px;
    display: inline-block;
}

.pie-sparkline-dialog .pie-sparkline-block {
    margin: 5px 15px;
}

.pie-sparkline-dialog .pie-color {
    margin-bottom: 8px;
}

.area-sparkline-dialog .separator-line {
    padding-left: 0;
    border: 0;
    border-top: 1px solid lightgray;
}

.area-sparkline-dialog .area-column1 {
    width: 105px;
    display: inline-block;
}

.area-sparkline-dialog .area-column2 {
    width: 105px;
    display: inline-block;
    margin-left: 10px;
}

.area-sparkline-dialog .area-min-value {
    width: 80px;
}

.area-sparkline-dialog .area-max-value {
    width: 80px;
}

.area-sparkline-dialog .area-line1-value {
    width: 80px;
}

.area-sparkline-dialog .area-line2-value {
    width: 80px;
}

.area-sparkline-dialog .area-sparkline-block {
    margin: 10px 10px 10px 30px;
}

.area-sparkline-dialog .area-color-picker-container {
    float: left;
    width: 95%;
    margin-right: 2px;
}

.area-sparkline-dialog .area-color-picker-preview {
    display: block;
    border: 1px solid black;
    width: 100%;
    height: 13px;
}

.area-sparkline-dialog .area-color-picker-popup {
    background-color: white;
}

.area-sparkline-dialog .area-color {
    width: 150px;
    display: inline-block;
    vertical-align: middle;
}

.area-sparkline-dialog .area-data-range {
    margin: 0px;
    width: 140px;
}

.scatter-sparkline-dialog .scatter-color-picker-container {
    float: left;
    width: 95%;
    margin-right: 2px;
}

.scatter-sparkline-dialog .scatter-color-picker-popup {
    background-color: white;
}

.scatter-sparkline-dialog .scatter-color-picker-preview {
    display: block;
    border: 1px solid black;
    width: 100%;
    height: 13px;
}

.scatter-sparkline-dialog .separator-line {
    padding-left: 0;
    border: 0;
    border-top: 1px solid lightgray;
}

.scatter-sparkline-dialog .scatter-color-picker-block {
    width: 167px;
    display: inline-block;
    vertical-align: middle;
}

.scatter-sparkline-dialog .scatter-column1 {
    width: 100px;
    display: inline-block;
}

.scatter-sparkline-dialog .scatter-column2 {
    width: 100px;
    display: inline-block;
}

.scatter-sparkline-dialog .scatter-sparkline-block {
    margin: 7px 0px 10px 15px;
}

.compatible-sparkline-dialog .separator-line {
    padding-left: 0;
    border: 0;
    border-top: 1px solid lightgray;
}

.compatible-sparkline-dialog .com-data-column1 {
    width: 140px;
    display: inline-block;
}

.compatible-sparkline-dialog .com-data-column2 {
    width: 140px;
    display: inline-block;
    margin-left: 10px;
}

.compatible-sparkline-dialog .com-data-input {
    width: 100px;
}

.compatible-sparkline-dialog .com-data-select {
    width: 105px;
}

.compatible-sparkline-dialog .compatible-block {
    margin: 3px 0 5px 25px;
}

.compatible-sparkline-dialog .com-show-column1 {
    width: 110px;
    display: inline-block;
}

.compatible-sparkline-dialog .com-show-column2 {
    width: 110px;
    display: inline-block;
}

.compatible-sparkline-dialog .com-show-column3 {
    width: 110px;
    display: inline-block;
}

.compatible-sparkline-dialog .com-group-column1 {
    width: 115px;
    display: inline-block;
}

.compatible-sparkline-dialog .com-group-column2 {
    width: 115px;
    display: inline-block;
}

.compatible-sparkline-dialog .com-group-input {
    width: 100px;
}

.compatible-sparkline-dialog .com-group-select {
    width: 104px;
}

.compatible-sparkline-dialog .manual-disable {
    opacity: 0.4;
}

.compatible-style-setting .compatible-style-column1 {
    width: 120px;
    display: inline-block;
}

.compatible-style-setting .compatible-style-sets {
    display: inline-block;
    width: 115px;
}

.compatible-style-setting .compatible-line-weight {
    width: 110px;
}

.compatible-style-setting .compatible-color-picker-container {
    float: left;
    width: 95%;
    margin-right: 2px;
}

.compatible-style-setting .compatible-color-picker-popup {
    background-color: white;
}

.compatible-style-setting .compatible-color-picker-preview {
    display: block;
    border: 1px solid black;
    width: 100%;
    height: 13px;
}

.compatible-style-setting .compatible-style-block {
    margin: 10px 0px 0px 20px;
}

.sparkline-ex-colorframe {
    vertical-align: middle;
}

.sparkline-ex-colorspan {
    display: block;
    width: 100%;
    height: 13px;
    border: 1px solid;
}

.bullet-sparkline-dialog .bullet-sparkline-block {
    margin: 10px 10px 10px 30px;
}

.bullet-sparkline-dialog .bullet-column1 {
    width: 60px;
    display: inline-block;
}

.bullet-sparkline-dialog .bullet-column2 {
    width: 100px;
}

.bullet-sparkline-dialog .bullet-column3 {
    width: 90px;
    display: inline-block;
    margin-left: 15px;
}

.bullet-sparkline-dialog .bullet-column4 {
    width: 100px;
}

.spread-sparkline-dialog .spread-sparkline-block {
    margin: 10px 10px 10px 30px;
}

.spread-sparkline-dialog .spread-column1 {
    width: 90px;
    display: inline-block;
}

.spread-sparkline-dialog .spread-column2 {
    width: 100px;
}

.spread-sparkline-dialog .spread-column3 {
    width: 90px;
    display: inline-block;
    margin-left: 15px;
}

.spread-sparkline-dialog .spread-column4 {
    width: 100px;
}

.stacked-sparkline-dialog .stacked-sparkline-block {
    margin: 10px 10px 10px 15px;
}

.stacked-sparkline-dialog .stacked-column1 {
    width: 105px;
    display: inline-block;
}

.stacked-sparkline-dialog .stacked-column2 {
    width: 100px;
}

.stacked-sparkline-dialog .stacked-column3 {
    width: 110px;
    display: inline-block;
    margin-left: 15px;
}

.stacked-sparkline-dialog .stacked-column4 {
    width: 100px;
}

.stacked-sparkline-dialog .stacked-text-size {
    width: 85px;
}

.barbase-sparkline-dialog .barbase-sparkline-block {
    margin: 15px 10px 15px 20px;
}

.barbase-sparkline-dialog .barbase-column1 {
    width: 95px;
    display: inline-block;
}

.barbase-sparkline-dialog .barbase-column2 {
    width: 135px;
}

.vari-sparkline-dialog .vari-sparkline-block {
    margin: 10px 10px 10px 20px;
}

.vari-sparkline-dialog .vari-column1 {
    width: 100px;
    display: inline-block;
}

.vari-sparkline-dialog .vari-column2 {
    width: 100px;
}

.vari-sparkline-dialog .vari-column3 {
    width: 100px;
    display: inline-block;
    margin-left: 10px;
}

.vari-sparkline-dialog .vari-column4 {
    width: 100px;
}

.vari-sparkline-dialog .vari-vertical {
    margin-left: 30px;
}

.boxplot-sparkline-dialog .boxplot-sparkline-block {
    margin: 10px 10px 10px 20px;
}

.boxplot-sparkline-dialog .boxplot-column1 {
    width: 100px;
    display: inline-block;
}

.boxplot-sparkline-dialog .boxplot-column2 {
    width: 100px;
}

.boxplot-sparkline-dialog .boxplot-column3 {
    width: 100px;
    display: inline-block;
    margin-left: 10px;
}

.boxplot-sparkline-dialog .boxplot-column4 {
    width: 100px;
}

.boxplot-sparkline-dialog .boxplot-vertical {
    margin-left: 25px;
}

.cascade-sparkline-dialog .cascade-sparkline-block {
    margin: 10px 10px 10px 20px;
}

.cascade-sparkline-dialog .cascade-column1 {
    width: 100px;
    display: inline-block;
}

.cascade-sparkline-dialog .cascade-column2 {
    width: 100px;
}

.cascade-sparkline-dialog .cascade-column3 {
    width: 100px;
    display: inline-block;
    margin-left: 10px;
}

.cascade-sparkline-dialog .cascade-column4 {
    width: 100px;
}

.cascade-sparkline-dialog .cascade-vertical {
    margin-left: 10px;
}

.pareto-sparkline-dialog .pareto-sparkline-block {
    margin: 10px 10px 10px 20px;
}

.pareto-sparkline-dialog .pareto-column1 {
    width: 100px;
    display: inline-block;
}

.pareto-sparkline-dialog .pareto-column2 {
    width: 100px;
}

.pareto-sparkline-dialog .pareto-column3 {
    width: 105px;
    display: inline-block;
    margin-left: 10px;
}

.pareto-sparkline-dialog .pareto-column4 {
    width: 100px;
}

.pareto-sparkline-dialog .pareto-vertical {
    margin-left: 10px;
}

.calendar-sparkline-dialog .calendar-sparkline-block {
    margin: 10px 10px 10px 10px;
}

.calendar-sparkline-dialog .calendar-column1 {
    width: 100px;
    display: inline-block;
}

.calendar-sparkline-dialog .calendar-column2 {
    width: 125px;
    display: inline-block;
}

.calendar-sparkline-dialog .calendar-sparkline-data, .calendar-sparkline-dialog .calendar-sparkline-location {
    width: 97px;
}

.calendar-sparkline-dialog .calendar-column3 {
    width: 100px;
    display: inline-block;
    margin-left: 32px;
}

.calendar-sparkline-dialog .calendar-column4 {
    width: 125px;
    display: inline-block;
}

.calendar-sparkline-dialog .calendar-sparkline-color {
    width: 96px;
}

.calendar-sparkline-dialog .calendar-sparkline-year {
    width: 121px;
}

.calendar-sparkline-dialog .calendar-sparkline-month {
    width: 125px;
}

.barcode-dialog .barcode-common-block {
    margin: 10px 10px 10px 10px;
}

.barcode-dialog .barcode-column1 {
    width: 110px;
    display: inline-block;
}

.barcode-dialog .barcode-column2 {
    width: 145px;
    display: inline-block;
}

.barcode-dialog .barcode-column3 {
    width: 125px;
    display: inline-block;
    margin-left: 32px;
}

.barcode-dialog .barcode-column4 {
    width: 145px;
    display: inline-block;
}

.barcode-dialog .barcode-common-location{
    width: 97px;
}
.barcode-content .barcode-content-left{
    width:250px;
    height: 100%;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
}
.barcode-content .barcode-content-right{
    width:250px;
    height: 100%;
    margin-top: 10px;
    margin-left: 35px;
    display: inline-block;
    vertical-align: top;
}
.barcode-label {
    width: 140px;
    display: inline-block;
    height: 35px;
}
.barcode-option {
    width: 100px;
    display: inline-block;
    vertical-align: top;
}

.barcode-common-block .rangeSelectContainer{
    width:145px;
}
.barcode-common-block .barcode-locationReference{
    width:120px;
}
.barcode-common-block .color-picker-container{
    width:145px;
}

.protection-option .protection-option-container {
    padding: 3px;
    margin-top: 2px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    border-style: solid;
    border-width: thin;
    border-color: #d3d3d3;
}

.protection-option .protection-option-label {
    margin-left: 3px;
}

.insert-slicer-dialog .insert-slicer-container {
    width: 245px;
    height: 380px;
    padding: 8px;
    background-color: white;
    border: 1px solid grey;
    overflow-y: auto;
}

.insert-slicer-dialog .insert-slicer-block {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #ffffff;
}

.insert-slicer-dialog .insert-slicer-block:hover {
    filter: progid:DXImageTransform.Microsoft.Gradient(gadientType=0, startColorStr=#ffffff, endColor=#9dcbb2);
    /*IE 6 7 8*/
    background: -ms-linear-gradient(top, #ffffff, #9dcbb2);
    /*IE 10*/
    background: -moz-linear-gradient(top, #ffffff, #9dcbb2);
    /*FireFox*/
    /*Google Chrome*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#9dcbb2));
    /* Safari 4-5, Chrome 1-9*/
    background: -webkit-linear-gradient(top, #ffffff, #9dcbb2);
    /*Safari5.1 Chrome 10+*/
    background: -o-linear-gradient(top, #ffffff, #9dcbb2);
    /*Opera 11.10+*/
    border: 1px solid #439467;
    border-radius: 3px;
}

.insert-slicer-dialog input,
.insert-slicer-dialog label {
    vertical-align: middle;
    font-size: 12px;
}

.slicer-setting-dialog {
    margin-left: 6px;
    margin-right: 6px;
    line-height: 15pt;
}

.slicer-setting-dialog .slicer-name-margin {
    margin-left: 6px;
    margin-right: 6px;
}

.slicer-setting-dialog .slicer-name-margin .slicer-text-decoration {
    margin-left: 6px;
}

.slicer-setting-dialog .slicer-name-margin input {
    margin-left: 6px;
}

.slicer-setting-dialog .slicer-fieldset {
    border: none;
    border-top: solid 1px lightgray;
    padding-left: 0px;
    margin-top: 3px;
    margin-left: 4px;
    margin-right: 7px;
}

.slicer-setting-dialog .item-sorting {
    float: left;
}

.slicer-setting-dialog .item-show-hide {
    float: right;
}

.slicer-setting-dialog .caption-margin {
    margin-left: 6px;
    margin-right: 6px;
}

.slicer-setting-dialog .hide-item-margin {
    margin-left: 50px;
}

.slicer-setting-dialog .visually-item-margin {
    margin-left: 70px;
}

.slicer-setting-dialog .show-item-margin {
    margin-left: 90px;
}

.slicer-setting-dialog fieldset > div {
    margin-left: 1em;
}

.slicer-setting-dialog input,
.slicer-setting-dialog label {
    vertical-align: middle;
}

.slicer-setting-dialog .textBold {
    font-weight: bold;
}

.slicer-style-dialog {
    height: 200px;
}

.slicer-style-dialog .slicer-style-input {
    width: 527px;
}

.slicer-style-dialog .slicer-element-block {
    width: 453px;
    float: left;
}

.slicer-style-dialog .slicer-element-fieldset {
    width: 425px;
    border-color: rgba(255, 255, 255, 0.2);
}

.slicer-style-dialog .slicer-element-select {
    width: 425px;
}

.slicer-style-dialog .slicer-preview-block {
    width: 120px;
    height: 127px;
    margin-left: 455px;
}

.slicer-style-dialog .slicer-preview-fieldset {
    width: 100px;
    height: 130px;
    padding: 0 2px;
    border-color: rgba(255, 255, 255, 0.2);
}

.slicer-style-dialog .slicer-pre-style {
    width: 73px;
    margin-left: 12px;
    margin-top: 12px;
    background-color: #ffffff;
}

.slicer-style-dialog .slicer-pre-style > div {
    width: 65px;
    height: 18px;
    padding-left: 4px;
    padding-right: 4px;
}

.slicer-style-dialog .slicer-pre-left-style {
    float: left;
}

.slicer-style-dialog .slicer-pre-right-style {
    float: right;
}

.slicer-style-dialog .clear-slicer-element {
    width: 70px;
    height: 25px;
}

.slicer-style-dialog .format-slicer-element {
    width: 70px;
    height: 25px;
    margin-left: 125px;
}

.format-slicer-dialog {
    margin-left: 12px;
    margin-right: 12px;
}

.format-slicer-dialog .li-property-size {
    width: 150px;
}

.format-slicer-dialog .li-properties {
    width: 100px;
}

.format-slicer-dialog .slicer-property-tab > div {
    width: 540px;
    height: 120px;
}

.format-slicer-dialog .general-selection {
    float: left;
    width: 50%;
}

.format-slicer-dialog .general-selection fieldset {
    height: 120px;
    border: 1px solid #d3d3d3;
}

.format-slicer-dialog .setting-block {
    margin-top: 7px;
    margin-bottom: 7px;
}

.format-slicer-dialog .setting-block input,
.format-slicer-dialog .setting-block label {
    vertical-align: middle;
}

.format-slicer-dialog .setting-block > div {
    width: 120px;
    vertical-align: middle;
    display: inline-block;
}

.format-slicer-dialog .diasble-resizing-moving {
    margin-left: 0px;
}

.format-slicer-dialog .locked-slicer {
    margin-left: 5px;
}

.format-slicer-dialog .percent-label {
    font-weight: bolder;
    font-size: 16px;
}

.format-slicer-dialog .percent-input {
    width: 66px;
}

.insert-slicer-ok {
    border: 1px solid #d3d3d3;
    background: #cccccc;
    font-weight: normal;
    color: #555555;
}

.table-source-range {
    border: none;
    height: 20px;
    padding-left: 2px;
}

.disabled {
    opacity: 0.6;
}
.blueButton{
    margin-left: 3px;
    float: left;
    display: block;
    width: 148px;
    height: 18px;
    border: 1px solid black;
    text-decoration: none;
    background-color: #D3D3D3;
    text-decoration: none;
    text-align: center;
    line-height: 18px;
}
.blueButton:hover {
    text-decoration: none;
}
           
.selectfilebutton{
    margin-left: 73px;
    text-decoration: none;
    position: absolute;
    display: block;
    width: 148px;
    height: 20px;
    opacity: 0;
}
            
.selectfilebutton1{
    margin-left: 300px;
    text-decoration: none;
    position: absolute;
    display: block;
    width: 148px;
    height: 20px;
    opacity: 0;
}
.insert-cellstates-dialog{
    padding: 5px 10px;
    box-sizing: border-box;
}
.insert-cellstates-dialog fieldset{
    margin: 12px 0;
    border: 1px solid #aaaaaa;
}
.insert-cellstates-dialog fieldset .cellstates-lable {
    width: 50px;
    display: inline-block;
}
.insert-cellstates-dialog .preview {
    line-height: 40px;
}
.insert-cellstates-dialog .previewContainer-common {
    display: inline-block;
    width: 160px;
    height: 40px;
    border: 1px solid #aaaaaa;
    margin: 0 5px;
}
.insert-cellstates-dialog .cellstates-select-wrap {
    display: inline-block;
}
.insert-cellstates-dialog .cellstates-select-content {
    width: 160px;
    display: inline-block;
}
.insert-cellstates-dialog .cellstates-select-content select {
    width: 100%;
}
.manage-cellstates-dialog .cellstates-style-perview {
    width: 160px;
    text-align: center;
    margin: 0 auto;
}

.manage-cellstates-dialog .cellstates-manage-contentwrap {
    min-height: 125px;
    max-height: 125px;
    overflow-y: auto;
    background-color: white;
}

.manage-cellstates-dialog .cellstates-manage-contentwrap table {
    width: 100%;
    border-collapse: collapse;
}

.manage-cellstates-dialog .cellstates-manage-contentwrap th {
    border-bottom: solid 1px lightgray;
    border-right: solid 1px lightgray;
    height: 25px;
    line-height: 25px;
}

.manage-cellstates-dialog .cellstates-manage-contentwrap td {
    border-bottom: solid 1px lightgray;
    border-right: solid 1px lightgray;
    height: 25px;
    line-height: 25px;
    background-color: white;
    text-align: center;
}

.manage-cellstates-dialog .cellstate-column-range {
    width: 25%;
}

.manage-cellstates-dialog legend {
    height: 30px;
    line-height: 30px;
}

.manage-cellstates-dialog .cellstate-column-style {
    width: 50%;
}

.manage-cellstates-dialog .cellstate-column-type {
    width: 25%;
}

.manage-cellstates-dialog .active-row td {
    background-color: #e6e6e6;
}

.manage-cellstates-dialog .cellstates-manage-wrap {
    border: 1px solid lightgray;
}

.manage-cellstates-dialog .cellstates-manage-controls {
    padding: 5px 0;
    border-bottom: 1px solid lightgray;
}

.manage-cellstates-dialog .cellstates-manage-controls .ui-button {
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 10px;
    padding: 0 5px;
}

.manage-cellstates-dialog .cellstates-manage-controls .ui-button .icon {
    background-image: url(../images/newRibbonV13.png);
    background-position: 0px -1920px;
    width: 16px;
    height: 16px;
    margin-top: 6px;
    margin-right: 3px;
    display: block;
    float: left;
}
#add-cellstate .icon{
    background-position: 0px -156px;
}
#remove-cellstate .icon{
    background-position: -36px -156px;
}

.manage-cellstates-dialog .cellstate-row-header {
    background-color: #f0f0f0;
}