/* This is a function for icons position*/
.colorpicker-outDiv {
  width: 176px;
  height: auto;
  border: 1px solid #a7abb0;
  overflow: hidden;
  padding: 2px;
  font-size: 12px;
  font-family: 'Segoe UI', Thonburi, Arial, Verdana, sans-serif;
}
.colorpicker-title {
  background: #f0f2f5;
  font-weight: bold;
  color: #444;
  padding: 3px 4px;
  height: 15px;
}
.colorpicker-themecolors-firstline {
  height: 16px;
}
.colorpicker-colorcell {
  width: 12px;
  height: 12px;
  border: 1px solid #c3c3c3;
}
.colorpicker-colorcell.hover {
  border: 1px solid #f1cb57;
}
.colorpicker-colorcell.selected {
  border: 1px solid #c2792d;
}
.colorpicker-colortable {
  width: 100%;
  padding: 2px 2px;
}
.colorpicker-Labeltext {
  padding: 0px 0px 0px 8px;
}
.colorpicker-div-morecolor-icon {
  background-image: url(../../images/icons.png);
  background-position: 0px -3632px;
  height: 16px;
  width: 14px;
  display: block;
}
.colorpicker-horizontalseparator {
  border-top: 1px solid #e2e4e7;
  display: block;
}
.colorpicker-verticalseparator {
  border-left: 1px solid #e2e4e7;
}
.colorpicker-div-inner-colorcell {
  width: 10px;
  height: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
}
.colorpicker-div-inner-colorcell.hover {
  border-color: #fdf7e3;
}
.colorpicker-div-inner-colorcell.selected {
  border-color: #f6ca6a;
}
.colorpicker-div-out-nofill {
  border: 1px solid rgba(242, 149, 54, 0);
  width: 16px;
  height: 16px;
}
.colorpicker-div-out-nofill.selected {
  border: 1px solid #f29536;
  background: #fcf1c2;
}
.colordialog-div-pickercolor-image {
  background-image: url(../../images/colorpicker.png);
  background-position: 0 -20px;
  width: 190px;
  height: 160px;
  overflow: hidden;
}
.colordialog-div-dragcolor {
  width: 12px;
  height: 160px;
}
.colordialog-rgb {
  width: 65px;
  height: 22px;
}
.colordialog-div-currentcolor,
.colordialog-div-newcolor {
  height: 22px;
  border: 1px solid black;
}
.colordialog-span-pickercolor-mousepointer {
  width: 10px;
  height: 10px;
  background-image: url(../../images/colorpicker.png);
  background-position: 0 0;
  display: none;
  position: relative;
}
.colordialog-div-dragcolor-container {
  width: 24px;
  height: 160px;
  margin-left: 30px;
}
.colordialog-span-dragcolor-arrow {
  width: 10px;
  height: 10px;
  background-image: url(../../images/colorpicker.png);
  background-position: 0 -10px;
  position: absolute;
  display: none;
  left: 255px;
}
.colordialog-table-newcurrentcolor {
  width: 60px;
  text-align: center;
}
.colorpicker-div-nocolor,
.colorpicker-div-morecolors {
  border: 1px solid rgba(241, 203, 87, 0);
}
.colorpicker-div-nocolor.hovered,
.colorpicker-div-morecolors.hovered {
  border: 1px solid #f1cb57;
  background-image: linear-gradient(to bottom, #fdf7e1 0%, #fce48c 100%);
  background-image: -o-linear-gradient(to bottom, #fdf7e1 0%, #fce48c 100%);
  background-image: -moz-linear-gradient(to bottom, #fdf7e1 0%, #fce48c 100%);
  background-image: -webkit-linear-gradient(to bottom, #fdf7e1 0%, #fce48c 100%);
  background-image: -ms-linear-gradient(to bottom, #fdf7e1 0%, #fce48c 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fdf7e1), color-stop(1, #fce48c));
}
.colordialog-div-container {
  font-size: 12px;
  font-family: 'Segoe UI', Thonburi, Arial, Verdana, sans-serif;
}
.colorpicker-table-nocolor,
.colorpicker-table-morecolors {
  width: 100%;
}
.colorpicker-td-nocolor-image,
.colorpicker-td-morecolors-image {
  width: 12%;
}
.colorpicker-div-nocolor-image {
  background: rgba(0, 0, 0, 0);
  width: 12px;
  height: 12px;
  border: 1px solid #c3c3c3;
  margin: 1px;
}
.ui-dialog-titlebar,
.ui-dialog-buttonpane {
  font-size: 12px;
  font-family: 'Segoe UI', Thonburi, Arial, Verdana, sans-serif;
}
.colordialog-div-container .red-input-label,
.colordialog-div-container .green-input-label,
.colordialog-div-container .blue-input-label {
  min-width: 60px;
}
/*.ui-dialog-content {
    height: auto;
}*/
